body{
    background-color: white;
    font-family: 'Segoe UI';
}

#container{
    background-color: blue;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#topnav{
    background-color: black;
    border: 3px solid white;
    width: auto;
    margin: 1%;
    overflow: hidden;
    }      
    
#main{
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    padding: 10px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

#content{
    padding: 10px;

}

nav{
    color: white;
    width: 180px;
    height: 180px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#nav.selected{
    font-weight: bold;
}

#footer{
    color:rgb(0, 0, 0);
    clear: both;
}